.app-wrapper {
  min-height: 100vh;
}

.chat-room {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
}

.chat-window {
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: black;
  min-height: 20%;;
  width: 70%;
  color: darkslategray;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 5px;
}

.from-user {
  border: 1px solid darkslategray;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}

.margin-15 {
  margin: 15px;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.inline-block {
  display: inline-block;
}

.send-button {
  border: 1px solid darkslategray;
  transition: 300ms;
  background: #0185A9;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 15px;
  cursor: pointer;
}
.send-button:hover{
  transform: scale(1.2);
  transition: 300ms;
}
.send-button:focus {
  outline: none;
}

.form {
  width: 70%;
}

.form input {
  font-size: 20px;
  border-radius: 5px;
}

.sidebar {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-right: 1px solid darkslategray;
  padding: 80px 20px;
}

.topic-list {
  padding: 0;
}

.topic-list li {
  list-style-type: none;
  padding: 5px;
  border-top: 1px solid darkslategray;
  border-bottom: 1px solid darkslategray;
}

.topic-list li:hover {
  color: white;
  background-color: #0185A9;;
  transition: 200ms;
}